/*背景层*/
.classpopLayer {
    display: none;
    background-color: #B3B3B3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80); /* 只支持IE6、7、8、9 */
}

/*弹出层*/
.classpopBox {
    display: none;
    background-color: #FFFFFF;
    z-index: 11;
    width: 400px;
    height: 200px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 3px;
}

.classpopBox .classclose {
    text-align: right;
    padding-right: 10px;
    background-color: #f0f0f0;
    height: 15%;
    line-height: 30px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

/*标题*/
.classpopBox .classclose p {
    color: #2D2C3B;
    margin: 0 38% 0 0;
    display: inline-block;
}

.classpopBox_content {
    text-align: center;
    margin: 28px auto;
    font-size: larger;
}
.classpopBox_content p{
    margin: 0 0 8px 0;
    line-height: 16px;
    font-size: 14px;
    padding-left: 96px;
    text-align: left;
    height: 16px;
}

.classbutton_div {
    text-align: center;
}

.classbutton_div button{
    margin: 0 20px;
    width: 30%;
    font-size: 18px;
    border-radius: 3px;
}

#addClass{
    width: 50%;
    height: 25px;
}