/*背景层*/
#popLayer {
    display: none;
    background-color: #B3B3B3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80); /* 只支持IE6、7、8、9 */
}

/*弹出层*/
#popBox {
    display: none;
    background-color: #FFFFFF;
    z-index: 11;
    width: 400px;
    height: 200px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 3px;
}

#popBox .close {
    text-align: right;
    padding-right: 10px;
    background-color: #f0f0f0;
    height: 15%;
    line-height: 30px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

/*关闭按钮*/
#popBox .close a {
    text-decoration: none;
    color: #2D2C3B;
}

#popBox_content {
    text-align: center;
    margin: 50px auto;
    font-size: larger;
}

#button_div {
    text-align: center;
}

#button_div button{
    margin: 0 20px;
    width: 30%;
    font-size: 18px;
    border-radius: 3px;
}