<!--
User: deyong_tong
Date: 2019/3/26
Time: 11:00
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加数据</title>
    <link href="./css/add.css" rel="stylesheet">
    <link href="./css/prom_box.css">
    <script src="./js/dist/sea.js" type="text/javascript"></script>
    <script src="./js/addConfig.js" type="text/javascript"></script>
    <script src="./js/dist/handlebars-v4.1.1.js" type="text/javascript"></script>
    <script src="./js/dist/jquery.js" type="text/javascript"></script>
    <script src="./js/moban.js" type="text/javascript"></script>
</head>
<body style="font-size: 18px">
<fieldset id="fielsetId">
    <legend>添加数据</legend>
    <div id="content-head-div" style="text-align: right">
        <a href="./" style="font-size: medium">返回首页</a><br>
        <a href="query" style="font-size: medium">查询数据地址</a>
    </div>
    <div>
        <div id="content-div">
            <table>
                <tr>
                    <td>分类：</td>
                    <td>
                        <select id="contentClass">
                            <option>JAVA基础</option>
                            <option>面向对象</option>
                            <option>API</option>
                        </select>
                    </td>
                    <td width="75px">
                        <div id="add-class-button">添加分类</div>
                    </td>
                </tr>
                <tr>
                    <td>大标题：</td>
                    <td>
                        <input id="parentTitle">
                    </td>
                </tr>
                <tr>
                    <td>小标题：</td>
                    <td>
                        <input id="subheading">
                    </td>
                </tr>
                <tr>
                    <td>描述：</td>
                    <td>
                        <textarea id="description"></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: center">
                        <div id="add-buttons">提交</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</fieldset>


<!--弹窗模板-->
<script id="box_template" type="text/x-handlebars-template">
    <div id="popLayer"></div>
    <div id="popBox">
        <div class="close">
            <a href="#" onclick="closeBox()">X</a>
        </div>
        <div id="popBox_content">添加成功！</div>
        <div id="button_div">
            <button id="confirm">确认</button>
            <button id="cancle">取消</button>
        </div>
    </div>
</script>
<script>
    seajs.use(['add'], function (add) {
        $('#add-buttons').on('click', function () {
            add.add();
        })
    });


</script>


</body>
</html>