<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/add_class_box.css" rel="stylesheet">
</head>
<body>
<div class="classpopLayer"></div>
<div class="classpopBox">
    <div class="classclose">
        <p>添加分类</p>
        <a href="#">X</a>
    </div>
    <div class="classpopBox_content">
        <p id="addResult"></p>
        <input id="addClass">
    </div>
    <div class="classbutton_div">
        <button id="confirm">确认</button>
        <button id="cancle">取消</button>
    </div>
</div>

</body>
</html>