<!--
User: deyong_tong
Date: 2019/3/26
Time: 11:00
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加数据</title>
    <link href="./css/add.css" rel="stylesheet">
    <link href="./css/add_class_box.css" rel="stylesheet">
    <script src="./js/dist/sea.js" type="text/javascript"></script>
    <script src="./js/dist/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="./js/dist/handlebars-v4.1.0.js" type="text/javascript"></script>

</head>
<body style="font-size: 12px">

<div id="content-head-div">
    <H2>查看详情</H2>
    <div>
        <button class="-button" onclick="goQuery()">查询</button>
        <button class="-button" onclick="goIndex()">返回</button>
    </div>
    <hr style="color: midnightblue">
</div>
<div>
    <div id="content-div">
        <table>
            <tr>
                <td>分类：</td>
                <td>
                    <select id="contentClass">
                    </select>
                </td>
                <td width="75px">
                    <button id="add-class-button">添加分类</button>
                </td>
            </tr>
            <tr>
                <td>大标题：</td>
                <td>
                    <input id="parentTitle">
                </td>
            </tr>
            <tr>
                <td>小标题：</td>
                <td>
                    <input id="subheading">
                </td>
            </tr>
            <tr>
                <td>描述：</td>
                <td>
                    <textarea id="description"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: center">
                    <button id="add-buttons">编辑</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<!--放id值得-->
<input style="display: none" id="idValue">
<!--添加分类弹框-->
<div class="classpopLayer"></div>
<div class="classpopBox">
    <div class="classclose">
        <p>添加分类</p>
    </div>
    <div class="classpopBox_content">
        <p id="addResult"></p>
        <input id="addClass">
    </div>
    <div class="classbutton_div">
        <button id="confirm">确认</button>
        <button id="cancle">取消</button>
    </div>
</div>
<!--下拉选模板-->
<script id="choose-template" type="text/x-handlebars-template">
    {{#each this}}
    <option>{{this}}</option>
    {{/each}}
</script>
<script>

    seajs.use(['./js/detail.js', './js/add.js', './js/util/AddClassBox.js'], function (Detail, Add, AddClassBox) {
        $('#add-buttons').on('click', function () {
            var type = $('#add-buttons').text();
            if (type === '编辑') {
                Detail.editData();
            } else {
                Add.addData('./content/update', 'update');
            }
        });
        Detail.dataToShow();
        AddClassBox.getAddClassBox();


    });

    function goQuery() {
        window.location.href = 'query';
    }

    function goIndex() {
        window.location.href = './';
    }
</script>


</body>
</html>