<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="./css/index.css" type="text/css" rel="stylesheet">

</head>
<body>
<h1>Java Learning</h1>
<h3>这是一个用来记录学习笔记的工具</h3>

<div id="left-div">
    <h4>使用方法:</h4>
    <ul>
        <li>分类
            <p><i>分为:Java基础、API基础、WEB基础、Servlet基础、JDBC基础、SSM基础等</i></p>
        </li>
        <li>大标题
            <p><i>具体到某一个类，如API中的String、I/O流等</i></p>
        </li>
        <li>小标题
            <p><i>具体到某一个名词，如API中String中的spit方法等,也可叫做关键字，用于后面的搜索</i></p>
        </li>
        <li>描述
            <p><i>具体的解释，使用方法等相关内容</i></p>
        </li>
    </ul>
    <p><strong>请选择功能：</strong></p>
    <ul>
        <li><a href="add" style="font-size: larger">添加数据地址</a></li>
        <li><a href="query" style="font-size: larger">查询数据地址</a></li>
        <li><a href="file" style="font-size: larger">上传文件</a></li>
    </ul>
</div>
<div id="right-div">
    <!--1. 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="contentClassDataDiv" style="width: 600px;height: 400px;"></div>
    <div id="addFrequencyDiv" style="width: 600px;height: 400px;"></div>
</div>

<script src="./js/dist/sea.js"></script>
<script src="./js/dist/jquery-3.3.1.min.js" type="text/javascript"></script>
<script>
    seajs.use(['./js/contentClassEcharts.js', './js/addDataFrequencyEcharts.js'], function (cce, adf) {
        cce.getClassData();
        adf.getAddDate();
    })
</script>
</body>
</html>