<!--
User: deyong_tong
Date: 2019/3/26
Time: 9:54
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>Java Learning</h1>
<h3>这是一个用来记录学习笔记的工具</h3>
<h4>使用方法:</h4>

<ul>
    <li>分类
        <p><i>分为:Java基础、API基础、WEB基础、Servlet基础、JDBC基础、SSM基础等</i></p>
    </li>
    <li>大标题
        <p><i>具体到某一个类，如API中的String、I/O流等</i></p>
    </li>
    <li>小标题
        <p><i>具体到某一个名词，如API中String中的spit方法等,也可叫做关键字，用于后面的搜索</i></p>
    </li>
    <li>描述
        <p><i>具体的解释，使用方法等相关内容</i></p>
    </li>
</ul>

<p><strong>请选择功能：</strong></p>
<ul>
    <li><a href="add" style="font-size: larger">添加数据地址</a></li>
    <li><a href="query" style="font-size: larger">查询数据地址</a></li>
</ul>

</body>
</html>