<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>弹窗模板</title>
    <!--弹窗模板-->
    <script id="box_template" type="text/x-handlebars-template">
        <div class="popLayer"></div>
        <div class="popBox">
            <div class="close">
                <a href="#">X</a>
            </div>
            <div class="popBox_content">{{data}}</div>
            <div class="button_div">
                <button id="confirm">确认</button>
                <button id="cancle">取消</button>
            </div>
        </div>
    </script>
</head>
<body>

</body>
</html>